# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directories
build
target
pacts
*.out
# Generated Release Artifacts
release_artifacts

# Misc

.DS_Store
gradle.properties

# jreleaser
out/
