# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directories
build
target
pacts
*.out
release_artifacts

# Misc

.DS_Store
drivers/rust/driver_ffi/Cargo.lock
drivers/rust/driver_pact_tests/Cargo.lock
