name: Pact Plugin Driver (Gradle)

on:
  - push
  - pull_request

jobs:
  latest_jdk:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build plugin driver
      run: ./gradlew -s --no-daemon -i publishToMavenLocal
      working-directory: drivers/jvm
    - name: Install plugin cli
      run: scripts/install-plugin-cli.sh
      shell: bash
    - name: Install Protobuf plugin
      run: ~/.pact/bin/pact-plugin-cli -y install protobuf
      shell: bash
    - name: Run plugin driver tests
      run: ./gradlew -s --no-daemon -i check
      working-directory: drivers/jvm
    - name: Publish driver Pact file
      run: GIT_SHA=$GITHUB_SHA ./gradlew --no-daemon pactPublish -PpactBrokerToken=${{ secrets.PACTFLOW_TOKEN }}
      working-directory: drivers/jvm
      if: runner.os == 'Linux'

  supported_jdks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [ 11, 17, 21 ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk }}
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build plugin driver
        run: ./gradlew -s --no-daemon -i publishToMavenLocal
        working-directory: drivers/jvm
      - name: Install plugin cli
        run: scripts/install-plugin-cli.sh
        shell: bash
      - name: Install Protobuf plugin
        run: ~/.pact/bin/pact-plugin-cli -y install protobuf
        shell: bash
      - name: Run plugin driver tests
        run: ./gradlew -s --no-daemon -i check
        working-directory: drivers/jvm
